* {
	font-family: "Adobe Caslon Pro";
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: gray;
}

h1 {
	margin: 50px;
	font-size: 1.75em;
	text-align: center;
}

p {
	border: solid;
	border-width: 1px;
	border-top: none;
	border-right: none;
	text-align: right;
	font-weight: bold;
	font-size: 1.25em;
	padding: 5px;
	float: right;
}

.cont1 p {
	background-color: #FFFF33;
}

.cont2 p {
	background-color: #FF9933;
}

.cont3 p {
	background-color: #CC6633;
}

section {
	clear: right;
	padding: 10px;
}

div {
	display: block;
}

.outer {
	margin: 0px;
}

.outer > .d {
	border: 1px solid black;
	background-color: #6495ed;
	margin: 10px;
}

@media (min-width: 992px) {

	.outer {
		width: 33.33%;
		float: left;
	}

	.outer > .d {
		position: relative;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.cont1, .cont2 {
		width: 50%;
		float: left;
	}

	.cont1 > .d {
		margin-right: 5px;
	}

	.cont2 > .d {
		margin-left: 5px;
	}

	.cont3 {
		clear: left;
	}
}